@charset "utf-8";

header .h_top, header .h_bottom, main, footer{margin: 0 auto; padding:0;}
ul, li{list-style: none;}
a{text-decoration: none; color: #222222;}

h2{font-size: 20px; text-align: center;}

.size13{font-size: 13px;}
.size16{font-size: 16px;}
.font40{font-size: 40px;} 

/*헤더***************************/
header{height: 174px;}

header .h_top, header .h_bottom{width: 1200px;}
header .h_top{ height: 120px; position: relative;}
header .h_top h1{ text-align: center;}
header .h_top h1 img{ height: 72px; padding-top: 30px;}

/*sns 아이콘*/
header .h_top > .h_l_nav{position: absolute; top: 20px;  left: 45px; }
header .h_top > .h_l_nav ul{display: flex; text-align: left;}
header .h_top > .h_l_nav ul li{padding: 0px 10px; }
header .h_top > .h_l_nav ul li img{width: 45px; height: 45px;} /*아이콘 크기*/
header .h_top > .h_l_nav ul li a:hover{color:#EC6606;}

/*상단 네비*/
header .h_top > .h_r_nav{position: absolute; top: 20px;  right: 70px; }
header .h_top > .h_r_nav ul{display: flex; text-align: right;}
header .h_top > .h_r_nav ul li { padding: 0px 10px;}
header .h_top > .h_r_nav ul li a:hover{color:#EC6606;}

header .h_top > .h_r_nav ul li i{color:#EC6606;padding: 0 0 5px 0;}
header .h_top > .h_r_nav ul input{width: 10px;border: none;transition: 0.5s; color:#EC6606;}
.search_box{border: 1px solid #EC6606; border-radius: 20px;}
header .h_top > .h_r_nav ul input:focus{
  text-align: center; width: 150px;color:#EC6606; outline: none;}

  
/*메인 메뉴바*/
header .h_bottom{ 
  position: relative;
  text-align: center; height: 54px;
  overflow: hidden;transition: 0.3s; }
.h_bottom:hover{height: 300px; background-color: white;z-index: 10000;}
header .h_bottom >ul {
  display: flex; line-height: 54px;
  justify-content: space-around ;text-align: left; 
}
header .h_bottom >ul li a:hover{color: #EC6606;}
header .h_bottom >ul li{text-align: center;  width: 150px; }
header .h_bottom >ul > li::first-line {font-weight: bold; font-size: 20px; }
header .h_bottom >ul > li >a:after{display: block; content: ""; width: 100px; height: 3px; position: relative; top:0px; right: -30px;}
header .h_bottom >ul > li >a:hover::after{background-color: #EC6606;}



/*라디오 서식 체크된(checked) 아이들에게 서식 적용*/
input[type=radio]{display: none; } 
input[type=radio]:checked + label{font-weight: bold;  background-color:#EC6606;}
label{cursor: pointer; display: inline-block;} 

/*메인*******************************************************/
main .quick_menu, main .best_menu{width: 1200px;margin: 0 auto;padding:0;}


/*슬라이드 메인베너*/
.banner1, .banner2, .banner3, .banner4, .banner5, .banner6{height: 60%;display: none;}

/*좌측 네비게이션 메뉴*/
main .side_menu{ width: 129px; height: 430px; background-color:  #EC6606; border-radius: 20px; border: 2px solid white; text-align: center; position: fixed; right: 5%; top: 24%; z-index: 100; padding: 50px 0;}
main .side_menu p{ color: white; line-height: 50px; width: 100px; margin: 0 auto;border-bottom: 1px solid white;}
main .side_menu h6{text-indent: -99999px;}
main .side_menu p a{ color: white;}
main .side_menu p:first-of-type{font-size: 20px; font-weight: bold; line-height: 30px; padding: 30px 0px 0px 0px; border: none;}
main .side_menu p:nth-of-type(2){font-size: 18px; font-weight: bold; line-height: 30px; padding: 5px 0 30px 0;}
main .side_menu p:last-of-type{border: none;}

/*메인콘텐츠 영역*/
main .con01 img{width: 100%; height: 100%}
.main_banner ul li a{padding: 5px 7px; border-radius: 100%; background-color:rgba(51,51,51,0.73);}
.main_banner ul li div{position: absolute; left: 0px; top: 174px;}

/*1. 퀵메뉴*/
.quick_menu{ height: 430px;}
.quick_menu h2{text-align: center; padding: 80px 50px 20px 50px;}
.quick_menu ul{display: flex; padding: 50px 100px; justify-content: space-around;}
.quick_menu ul li{background-color: #EAEAEA; width: 153px; height: 153px; border: 4px solid #EAEAEA; border-radius: 20px; text-align: center; }
.quick_menu ul li img{padding-top: 30px; width: 74px; height: 74px; }
.quick_menu ul li p{font-size: 16px; text-align: center; }
.quick_menu ul li:hover{border: 4px solid #EC6606;}

/* 03 대표메뉴 */
.best_menu{height: 400px; }
.best_menu article{display: flex;justify-content: space-between; padding: 30px;}
.best_menu h3 > img{width: 30px; height: 30px; }

.btn_bag{ background-color: white; border: 1px solid #FFD850; color: #222222; 
  padding: 3px 30px; border-radius: 50px;  text-align: center;}
  
.menu{width: 260px;height: 197px;position: relative; overflow: hidden;}
.best_menu img{width: 260px;height: 197px; }

.txt_box2{ background-color:rgba(0,0,0,0.9); color: white; 
  text-align: center; width: 100%; height: 100%; padding: 30px 0; box-sizing: border-box;
  position: absolute; top:197px; z-index: 100; left: 0;}

.box01 div a{ line-height: 50px; }
.box01 > p{line-height: 100px; text-align: center;}

.box01 .menu01:hover .txt_box2{top:0;} 
.box01 .menu02:hover .txt_box2{top:0;}  
.box01 .menu03:hover .txt_box2{top:0;}  
.box01 .menu04:hover .txt_box2{top:0;}  

/*04 온라인몰/이벤트*/
#mall:checked ~ .con_box01{display: block;}
#event:checked ~ .con_box02{display: block;} 

.mall_event{width: 100%; height:480px; margin: 0 auto; text-align: center;background-color:#EC6606;line-height: 50px; }
.mall_event h4{text-indent: -9999px;}
.mall_event label{font-size: 20px; padding: 0 10px;}
.mall_event label:last-of-type::after{display: block;  content: ""; width: 2px; height: 20px;  background-color: white; position:relative; top:-33px; right: 12px;}
.con_box01, .con_box02{display: none;width: 1200px; height: 100%; margin: 0 auto;}

.con_box01 ul{display: flex; justify-content: space-evenly; padding-top: 20px;}
.con_box01 ul li{width: 217px; height: 217px; position: relative; overflow: hidden; }
.con_box01 ul li img{width: 217px; height: 217px; }
.con_box01 ul li img:hover + p{position: absolute; bottom: 0px;}
.con_box01 ul li p{width: 217px; background-color:rgba(0, 0, 0, 0.75);
  position: absolute; bottom:-50px; transition: 0.3s;color: white;}
/* .con_box01 ul li a{color: white; line-height: 30px;} */

/*04 온라인몰/이벤트 - 검은 캡션 나오게 하기*/
.con_box02 figure{display: inline-block; padding:30px;height: 190px;padding-top:20px;overflow: hidden;} 
.con_box02 figure:hover > figcaption{top:-160px;}
.con_box02 figure img{height: 217px;}
.con_box02 figure figcaption{height: 150px;  background-color: #111111;  position: relative; top:10px; transition: 0.5s; }
.con_box02 figure figcaption h3{color: #EC6606; font-size: 16px;  font-weight: bold;}
.con_box02 figure figcaption p{font-size: 14px;  color: #EC6606;}




/*05. bhc 스토리*/

.label{
  display: inline-block; width: 100px; height: 10px; border-radius: 50px;
  text-indent: -99999px; /*모니터 해상도에서 글자를 내보낸다 - 삭제하지 말 것*/
  cursor: pointer;  background-color: rgba(0, 0, 0, 0.5)}

.bhc_story .swiper-pagination{width: 100px;}
.bhc_story{position: relative;}
.bhc_story .label01{position: absolute; bottom:20px; left: 35%;}
.bhc_story .label02{position: absolute; bottom:20px; left: 42%;}
.bhc_story .label03{position: absolute; bottom:20px; left: 49%;}
.bhc_story .label04{position: absolute; bottom:20px; left: 56%;}
.bhc_story .label05{position: absolute; bottom:20px; left: 63%;} 

input[type=radio]:checked + .label{font-weight: bold;  background-color:#FFD850;}

.con05{height: 650px;}
.con05 h2{padding: 50px;}
.con05 p{color: white; }

/*05. bhc 스토리- 탭이 눌러지면 그 아래 동생중에 con01,02,03이 나오도록 각각 만들어준다*/
#tab01:checked ~ .banner01, #tab02:checked ~ .banner02, #tab03:checked ~ .banner03, #tab04:checked ~ .banner04, #tab05:checked ~ .banner05, #tab06:checked ~ .banner06{display: block;}

.banner01, .banner02, .banner03, .banner04, .banner05, .banner06{height: 530px; display: none;
}
.banner01{background-image: url(../img/bg_1.png);}
.banner02{background-color: #EC6606; color: white;}
.banner03{background-image: url(../img/bg_3.png);}
.banner04{background-image: url(../img/bg_4.png);}
.banner05{background-image: url(../img/bg_5.png);}

.banner05 h4,.banner03 div h4{font-size: 30px; font-weight: bold; padding-top: 100px; line-height: 50px;}
.banner03 div, .banner05 div, .banner02{text-align: center; }

/*bhc의 다짐*/
.banner01 .txt_box1{position: relative; top: 70px; left: 30%; color: white;}
.txt_box1 p{line-height: 35px;}
.banner01 p:first-child{font-size: 30px; font-weight: bold;}

/*bhc맛의 비결*/
.banner02 h3{font-size: 30px; padding-top: 100px;}
.banner02 h4{font-size: 20px; line-height: 70px;}
.item{padding-top:100px; width:1440px; margin: 0 auto; display: flex; justify-content: space-evenly;}

/*고객과의 약속 */
.banner03 div{width: 1440px; margin: 0 auto; }
.banner03 div p:first-of-type{color:white; font-size: 30px; font-weight: bold;}
.banner03 div{line-height: 30px;}

/*국내 1위를 넘어 세계로*/
.banner04 div{margin: 0 auto; width: 900px; padding-top: 60px; position: relative;} 
.banner04 p:first-of-type{position: absolute; top:100px; left: 250px;}
.banner04 p:nth-of-type(2){font-size: 20px;color:white; text-align: right; position: absolute; top:270px; right: 200px;}
.banner04 img:nth-of-type(2){position: absolute; top:300px; right: -100px;}
/*과감하고 진취적으로*/
.banner05{margin: 0 auto;}
.banner05 div{ width: 1440px; margin: 0 auto;}
.banner05 h4{color:white;}

.banner05 span, .banner03 div h4{color: #EC6606;}



/*가맹점 개설안내*/
.con06{height: 450px; width: 1440px; margin: 0px auto; text-align: center;}
.con06 h2{padding-top: 80px; padding-bottom: 30px; font-size: 20px;}

.con06 ul{display: flex; justify-content:center;}
.con06 ul li{padding: 20px 50px;}
.con06 ul li div{height: 220px;position: relative;}
.con06 ul li a{position: absolute; bottom: 0px; right: 30%;}
.con06 ul li h3{display: inline-block; width: 140px; border-radius: 50px; padding: 5px 10px; background-color: #FFD850; color: #222222; font-size: 16px; margin: 10px;}
.con06 ul li p{font-size: 13px; padding:5px 0;}
.con06 ul li p:first-of-type{font-weight: bold;}

.btn_more{background-color: #222222; color: #FFD850; border-radius: 50px; padding: 5px 33px; font-size: 13px;}

/*푸터*/
footer{height: 400px; background-color: #222222;}
.f_top{width: 1440px; margin: 0 auto; position: relative; text-align: right; padding-top: 40px; padding-bottom: 200px;border-bottom: 1px solid white;}
.f_top p{
  position: absolute; top: 0px; left: 80px; text-align: center;
  font-size: 30px;color: white; padding-top: 30px;line-height: 40px;}
.f_top h2{  position: absolute; top: 100px; left: 30px;}

/*푸터 메뉴 */
.footer_menu{ width: 800px; height: 150px; margin: 0 auto; position: absolute; top: 30px; left:25%;}
.footer_menu > ul{display: flex;  justify-content: space-between ;text-align: left;}
.footer_menu > ul li a{color: white;  padding: 10px;line-height:40px;}
.footer_menu > ul > li::first-line{font-size: 18px; font-weight: bold;}

/*패밀리사이트*/
.family_site{padding: 6px 5px;}

/*푸터 네비*/
.f_bottom{width: 1440px; margin: 0 auto;color: white; padding: 30px 0px 0px 0;}
.f_bottom nav{text-align: right;}
.f_bottom nav ul{display:flex; color: white; justify-content: right;}
.f_bottom nav ul li{padding: 0px 10px;}
.f_bottom nav ul li::after{
    display: block;  content: "";
    width: 1px; height: 14px;  background-color: white;
    position:   relative; top:-17px; right: 10px;
  }
.f_bottom nav ul li:first-child::after{ display: none;}

.f_bottom address{width: 1050px;}